/* CRUD (Create, Read, Update, Delete) View */

* {
    -fx-font-family: Tahoma, Arial, "Comic Sans MS";
}

.title {
    -fx-font-size: 32px;
    -fx-text-fill: linear-gradient(from 0 0 to 100px 100px, #00aacf, cyan)
}

.sub-title {
    -fx-font-size: 19px;
    -fx-text-fill: linear-gradient(from 0 0 to 100px 100px, #00aacf, cyan)
}

.field {
    -fx-pref-height: 38px;
    -fx-font-size: 17px;
    -jfx-focus-color: #2196f3;
    -jfx-unfocus-color: #800;
    -fx-prompt-text-fill: #777;
}

.combo {
    -fx-pref-height: 38px;
    -fx-font-size: 17px;
    -jfx-focus-color: #2196f3;
    -fx-cursor: hand;
}

/* Start Buttons */

.btn {
    -fx-pref-width: 110px;
    -fx-pref-height: 40px;
    -fx-font-size: 17px;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5
}

.btn:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02
}

.btn-add { -fx-background-color: #03b372;}

.btn-edit { -fx-background-color: #1170f3;}

.btn-delete { -fx-background-color: #ff5559;}

.btn-detail { -fx-background-color: #2196f3;}

.btn-print { -fx-background-color: #f3bf12;}

/* End Buttons */

/* Start Icon */

.icon {
    -fx-cursor: hand;
    -fx-fill: #666
}

/* End Icon */

/* Start JFXSnackBar (toast msg) */

.jfx-snackbar-content {
    -fx-background-color: #ff5559;
    -fx-pref-width: 460
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: Tahoma
}

/* End JFXSnackBar (toast msg) */

/* Start Cards */

.cards {
    -fx-padding: 10px 20px 20px 20px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6, 0, 0, 0);
    -fx-background-radius: 5
}

/* End Cards */